* {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}

body {
    background-color: black;
}

.hide {
    display: none;
}

.nav {
    padding: 10px;
    background-color: black;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h2 {
    color: #fff;
}

i {
    color: #fff;
    font-size: 2.5rem;
}

button {
    background-color: transparent;
    border: none;
}

#menu {
    position: fixed;
    background-color: black;
    border: solid #fff;
    width: 400px;
    height: 90vh;
}

li {
    color: blanchedalmond;
}

#menu img {
    background-size: cover;
    width: 100%;
}

#menu-bosses button {
    color: #fff;
}

#boss-main {
    color: white;
}

#boss-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boss-main img {
    background-size: cover;
    height: 400px;
    width: 500px;
}